body {
  background-color: #181818;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 50px;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#imagePreview {
  border: 2px solid #ffffff;
  border-radius: 8px;
  width: 350px;
  height: 280px;
  object-fit: cover;
  margin: 20px auto;
}

#imageUpload {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#imageUpload:hover {
  background-color: #ffffff;
  color: #000;
}

#label-container {
  margin-top: 20px;
  font-size: 1.1em;
  color: #ffffff;
}

.prediction-label {
  padding: 8px;
  margin-top: 5px;
  background-color: #333;
  border-radius: 5px;
  font-size: 0.9em;
}
a {
  color: rgb(36, 36, 36);
  background: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
a:hover {
  background-color: #333;
  color: white;
  transition: 0.3s ease;
}
#note {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa; /* Light background */
  text-align: center;
  padding: 10px 0;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  color: red;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
